<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div>
    <form th:action="@{/employee/confirm}" method="post" th:object="${employee}">

        <label>First Name</label>
        <input type="text" th:field="*{firstName}"> <br>

        <label>Last Name</label>
        <input type="text" th:field="*{lastName}"><br>

        <label>Birthday</label>
        <input type="date" th:field="*{birthday}"><br>

        <label>Email</label>
        <input type="email" th:field="*{email}"><br>

        <label>Address</label>
        <input type="text" th:field="*{address}"><br>

        <label>Address 2</label>
        <input type="password" th:field="*{address2}"><br>

        <label>City</label>
        <input type="text" th:field="*{city}"><br>

        <label>State</label>
       <select th:field="*{state}">
           <option th:each="theState : ${states}" th:value="${theState}" th:text="${theState}"></option><br>
       </select><br>




        <button type="submit"> Register</button><br>

    </form>

</div>
</body>
</html>